@inherits LayoutComponentBase

<PageTitle>BrokenGrenade</PageTitle>

<div id="wrapper">
    <NavMenu/>
    <main class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <NavBar/>
            <div class="container-fluid">
                @Body
            </div>
        </div>
    </main>
</div>

@code
{
    
}
