@inject NavigationManager NavigationManager

<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark navbar-dark bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"></div>
            <div class="sidebar-brand-text mx-3"><span>Broken Grenade</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <NavLink class="nav-link" ActiveClass="active" href="" Match="NavLinkMatch.All">
                    <i class="fas fa-tachometer-alt"></i><span>Úvod</span>
                </NavLink>
            </li>
            <AuthorizeView Policy="CanCreateMissions">
                <li class="nav-item">
                    <NavLink class="nav-link" ActiveClass="active" href="/Mission/List">
                        <i class="fas fa-table"></i><span>Moje Mise</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" ActiveClass="active" href="/Mission/Create">
                        <i class="fas fa-calendar-plus"></i><span>Vytvořit misi</span>
                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView Policy="CanViewStaffMenu">
                <li class="nav-item">
                    <div class="border-bottom border-light m-3"></div>
                </li>
            </AuthorizeView>
            <AuthorizeView Policy="CanManageMissions">
                <li class="nav-item">
                    <NavLink class="nav-link" ActiveClass="active" href="/Mission/List?all">
                        <i class="fa fa-table"></i><span>Správa misí</span>
                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView Policy="CanManageUsers">
                <li class="nav-item">
                    <NavLink class="nav-link" ActiveClass="active" href="/User/List">
                        <i class="fa fa-table"></i><span>Správa uživatelů</span>
                    </NavLink>
                </li>
            </AuthorizeView>
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>