@page "/Staff/ModpackType/Create"
@using BrokenGrenade.Common.Permissions
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Web.BL.Facades
@inject ModpackTypeFacade ModpackTypeFacade
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@attribute [Authorize(Policy = PolicyTypes.ManageModpackTypes)]

<PageTitle>Nový typ modpacku — BG Hub</PageTitle>

<div class="pt-3 pb-2 mb-3">
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a class="btn btn-sm btn-link text-decoration-none" href="/Staff/ModpackType">
                <i class="fa-solid fa-angles-left"></i> Zpět na všechny modpacky
            </a>
        </div>
    </div>
    <h1 class="h2">Nový typ modpacku</h1>
</div>
<div class="card bg-dark-subtle mb-4">
    <div class="card-body">
        <EditForm Model="_modpackType" OnValidSubmit="CreateModpackTypeAsync">
            <div class="row text-danger">
                <div class="col">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Název</label>
                        <InputText class="form-control" @bind-Value="_modpackType.Name"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Vytvořit</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private ModpackTypeModel _modpackType = new(string.Empty);
    
    private async Task CreateModpackTypeAsync()
    {
        await ModpackTypeFacade.SaveAsync(_modpackType);
        NavigationManager.NavigateTo($"/Staff/ModpackType");
        ToastService.ShowSuccess("Typ modpacku byl úspěšně vytvořen.");
    }
}