@page
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account.Manage
@model Disable2faModel
@inject IStringLocalizer<Disable2faResource> Localizer
@{
    ViewData["Title"] = Localizer[nameof(Disable2faResource.Disable2faTitle)];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Localizer[nameof(Disable2faResource.Disable2faAlertTitle)]</strong>
    </p>
    <p>
        @Localizer[nameof(Disable2faResource.Disable2faAlertMessage), "./ResetAuthenticator"]
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@Localizer[nameof(Disable2faResource.Disable2faButton)]</button>
    </form>
</div>
