@page
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account.Manage
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BrokenGrenade.Web.App.Resources
@model IndexModel
@inject IStringLocalizer<IndexResource> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = Localizer[nameof(IndexResource.ProfileTitle)];
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "_Layout";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post">
    <div class="row">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Input.Nickname" class="form-label">@Html.DisplayNameFor(m => m.Input.Nickname)</label>
                <input asp-for="Input.Nickname" class="form-control"/>
                <span asp-validation-for="Input.Nickname" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">@SharedLocalizer[nameof(SharedResources.SaveChangesButton)]</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
