/*Blazor error message*/
#blazor-error-ui{
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;}
#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;}

/* Smooth transitions */
.transition-ease-in-out {
    transition: all 0.3s ease-in-out;
}

/* Dark scollbars */
body {
    color-scheme: dark;
}

/* Sharp button edges */
.btn-sharp {
    border-radius: 0!important;
}

/* Minimum height */
.min-h-400 {
    min-height: 400px;
}

.h-max {
    height: 100vh;
}

/* Image background */
.bg-img-01 {
    background-image: url("../assets/img/image01.webp");
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-02 {
    background-image: url("../assets/img/image02.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-blur {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.bg-img-blur-subtle {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.bg-img-blur-max {
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
}

/* Custom styles */
.cursor-pointer {
    cursor: pointer;
}