@page "/Apply"
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Web.BL.Facades
@inject ApplicationFacade ApplicationFacade

<PageTitle>Přidat se — BG Hub</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Přidat se</h1>
</div>
<div class="card bg-dark-subtle mb-4">
    <div class="card-body transition-ease-in-out">
        @if (_submitted)
        {
            <p class="text-center fw-bold text-success">Přihláška byla úspěšně odeslána!</p>
        }
        else
        {
            <EditForm Model="_application" OnValidSubmit="@HandleValidSubmitAsync">
                <div class="row text-danger">
                    <div class="col">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="nickname" class="form-label">Přezdívka</label>
                            <InputText id="nickname" tab class="form-control" @bind-Value="_application.Nickname"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <InputText id="email" class="form-control" @bind-Value="_application.Email"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="discord" class="form-label">Discord</label>
                            <InputText id="discord" class="form-control" @bind-Value="_application.Discord"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="steam" class="form-label">Steam Profil</label>
                            <InputText id="steam" class="form-control" @bind-Value="_application.SteamUrl"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="age" class="form-label">Věk</label>
                            <InputNumber TValue="int?" id="age" class="form-control" @bind-Value="_application.Age"/>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="playtime" class="form-label">Nahraný čas v Arma 3</label>
                            <InputNumber TValue="int?" id="playtime" class="form-control" @bind-Value="_application.PlayTime"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="about" class="form-label">Popiš sám sebe</label>
                            <InputTextArea id="about" class="form-control" @bind-Value="_application.About"/>
                        </div>
                        <div class="mb-3">
                            <label for="experience" class="form-label">Máš již nějakou zkušenost s Arma skupinami? (volitelné)</label>
                            <InputTextArea id="experience" class="form-control" @bind-Value="_application.PreviousExperience"/>
                        </div>
                        <div class="mb-3">
                            <label for="reason" class="form-label">Proč se k nám chceš přidat?</label>
                            <InputTextArea id="reason" class="form-control" @bind-Value="_application.ReasonToJoin"/>
                        </div>
                        <div class="mb-3">
                            <label for="offer" class="form-label">Co nám můžeš nabídnout?</label>
                            <InputTextArea id="offer" class="form-control" @bind-Value="_application.WhatCanYouOffer"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <InputCheckbox id="rules" class="form-check-input" @bind-Value="_application.AgreedToRules"/>
                            <label for="rules" class="form-check-label">Prohlašuji, že jsem si důkladně přečetl
                                <a class="link-primary" href="https://www.brokengrenade.cz/pridat-se/" target="_blank">pravidla</a>
                                <i class="fa-solid fa-external-link fa-fw link-primary"></i> a hodlám je dodržovat.</label>
                        </div>
                        <div class="mb-3">
                            <InputCheckbox id="requirements" class="form-check-input" @bind-Value="_application.MeetsRequirements"/>
                            <label for="requirements" class="form-check-label">Prohlašuji, že jsem starší 15-ti let, mám funkční a dostatečně kvalitní mikrofon a čas na hraní.</label>
                        </div>
                        <div class="mb-3">
                            <InputCheckbox id="gdpr" class="form-check-input" @bind-Value="_application.AcceptedGdpr"/>
                            <label for="gdpr" class="form-check-label">Souhlasím se sdílením výše uvedených údajů s vedením skupiny a instruktory skupiny BG v souladu s
                                <a class="link link-primary" href="https://www.brokengrenade.cz/ochrana-osobnich-udaju/" target="_blank">Ochranou osobních údajů</a>
                                <i class="fa-solid fa-external-link fa-fw link-primary"></i>.</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="mb-3">
                            <label for="referral" class="form-label">Jak jsi se o nás dozvěděl? (volitelné)</label>
                            <InputSelect id="referral" class="form-select" @bind-Value="_application.HowDidYouFindUs">
                                <option value="Sociální sítě" selected>Sociální sítě (Facebook, Instagram, TikTok)</option>
                                <option value="YouTube/Twitch">Videa (YouTube, Twitch)</option>
                                <option value="Vyhledávání">Vyhledávání</option>
                                <option value="Od jiného člena">Od jiného člena</option>
                                <option value="Ostatní">Jinak</option>
                            </InputSelect>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary @(_submitting ? "disabled" : "")" disabled="@_submitting">
                            <i class="fa-solid fa-paper-plane fa-fw"></i> Odeslat přihlášku
                        </button>
                        @if (_error is not null)
                        {
                            <p class="text-danger">@_error</p>
                        }
                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>

@code {
    private ApplicationModel _application = new();
    private bool _submitting;
    private bool _submitted;
    
    private string? _error;

    private async Task HandleValidSubmitAsync()
    {
        _error = null;
        _submitting = true;
        try
        {
            await ApplicationFacade.SaveAsync(_application);
            _submitted = true;
        }
        catch (Exception e)
        {
            _error =  $"Při odesílání přihlášky došlo k chybě: {e.Message}";
        }
        finally
        {
            _submitting = false;
        }
    }

}