@page "/"
@using BrokenGrenade.Web.BL.Facades
@using BrokenGrenade.Common.Models
@using Duende.IdentityServer.Extensions
@inject UserFacade UserFacade

<PageTitle>BG Hub</PageTitle>

<div class="row">
    <div class="col">
        
    </div>
</div>

@code
{

    private List<UserModel>? _users;
    
    protected override async Task OnInitializedAsync()
    {
        _users = await UserFacade.GetAsync();
    }
}
