<!DOCTYPE html>
<html lang="cs">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/Nunito.css">
    <link rel="stylesheet" href="/assets/css/site.css"/>
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="icon" type="image/png" href="/favicon.png"/>
</head>
<body id="page-top">
<div id="wrapper">
    <partial name="_ManageNavMenu"/>
    <main class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <partial name="_ManageNavBar"/>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </main>
</div>
@RenderSection("Scripts", false);
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script defer src="/assets/js/theme.js"></script>
</body>
</html>