@page
@model Disable2faModel
@{
    ViewData["Title"] = "Deaktivovat dvoufázové ověřování (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "Manage/_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Tato akce pouze deaktivuje ověřování.</strong>
    </p>
    <p>
        Deaktivování dvoufázového ověřování nezmění klíče používané v ověřovací aplikaci.
        Pokud si přeješ změnit ověřovací aplikaci, <a asp-page="./ResetAuthenticator">resetuj své ověřovací klíče.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Deaktivovat 2FA</button>
    </form>
</div>
