@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Nastavení dvoufázového ověřování";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "Manage/_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
    <p>Pro použití ověřovací aplikace postupuj podle následujících kroků:</p>
    <ol class="list">
        <li>
            <p>
                Stáhni si aplikaci pro dvoufázové ověřování jako například Microsoft Authenticator pro 
                <a href="https://play.google.com/store/apps/details?id=com.azure.authenticator">Android</a> a 
                <a href="https://apps.apple.com/us/app/microsoft-authenticator/id983156458">iOS</a> nebo
                Google Authenticator pro 
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a> a 
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605">iOS</a>.
            </p>
        </li>
        <li>
            <p>Naskenuj QR kód nebo zadej tento kód <kbd>@Model.SharedKey</kbd> do své ověřovací aplikace. Mezery a velikost písma nehrají roli.</p>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                Poté, co jsi nebo naskenoval QR kód nebo zadal kód uvedený výše, tvoje aplikace ti vygeneruje ověřovací kód.
                Zadej tento kód do pole níže.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" placeholder="Prosím zadej ověřovací kód."/>
                            <label asp-for="Input.Code" class="control-label form-label">Ověřovací kód</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Ověřit</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
    <script type="text/javascript" src="/assets/js/qrcode.js"></script>
    <script type="text/javascript" src="/assets/js/qr.js"></script>
}
