@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generovat záložní kódy pro dvoufázové ověřovaní (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "Manage/_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="fas fa-exclamation-triangle"></span>
        <strong>Tyto kódy si někam bezpečně ulož.</strong>
    </p>
    <p>
        Pokud ztratíš své zařízení s ověřovací aplikací a nebudeš mít tyto kódy, ztratíš přístup ke svému účtu.
    </p>
    <p>
        Vygenerování nových záložních kódů nezmění klíče použité v ověřovací aplikaci.
        Pokud si přeješ změnit ověřovací aplikaci, <a asp-page="./ResetAuthenticator">resetuj své ověřovací klíče</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Generovat ověřovací klíče</button>
    </form>
</div>
