@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Osobní data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "Manage/_Layout";
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Tvůj účet obsahuje osobní informace, které jsi nám dal. Táto stránka umožňuje si tato data stáhnout nebo odstranit.</p>
        <p>
            <strong>Odstranění těchto dat trvale a nevratně smaže tvůj účet.</strong>
        </p>
        <div>
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary m-2" type="submit">Stáhnout</button>
            </form>
                <p>
                    <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger m-2">Odstranit</a>
                </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
