@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Obnovit ověřovací kód";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "Manage/_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="fas fa-exclamation-triangle"></span>
        <strong>Pokud obnovíš svůj ověřovací kód, tvá aplikace nebude fungovat dokud ji znovu nenakonfiguruješ.</strong>
    </p>
    <p>
        Tento proces deaktivuje dvoufázové přihlašování dokud neověříš svou aplikaci.
        Pokud nedokončíš konfiguraci aplikaci, riskuješ ztrátu přístupu ke svému účtu.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Obnovit ověřovací kód</button>
    </form>
</div>
