@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Zobrazit záložní kódy";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
    Layout = "Manage/_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Tyto kódy si někam bezpečně ulož.</strong>
    </p>
    <p>
        Pokud ztratíš své zařízení s ověřovací aplikací a nebudeš mít tyto kódy, ztratíš přístup ke svému účtu.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>
