@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Dvoufázové ověřování (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "Manage/_Layout";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Už nemáš žádné nepoužité záložní klíče.</strong>
                    <p>Musíš <a asp-page="./GenerateRecoveryCodes">vygenerovat novou sadu záložních klíčů</a> aby jsi se mohl pomocí nich přihlásit.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Zbývá ti jen poslední nepoužitý záložní klíč.</strong>
                    <p>Měl by jsi <a asp-page="./GenerateRecoveryCodes">vygenerovat novou sadu záložních klíčů</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Zbývají ti @Model.RecoveryCodesLeft ověřovací klíče.</strong>
                    <p>Měl by jsi <a asp-page="./GenerateRecoveryCodes">vygenerovat novou sadu záložních klíčů</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Zapomenout tento prohlížeč</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Deaktivovat dvoufázové ověřování</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Obnovit záložní klíče</a>
        }

        <h4>Ověřovací aplikace</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Přidat ověřovací aplikaci</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Nastavit ověřovací aplikaci</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Resetovat ověřovací aplikaci</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Privacy and cookie policy have not been accepted.</strong>
            <p>You must accept the policy before you can enable two factor authentication.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
