@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace BrokenGrenade.Web.App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <base href="~/" />
    <!-- Vendors styles-->
    <link rel="stylesheet" href="~/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="~/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet"/>
    @* <link href="vendors/@@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet"> *@
    @* <link href="BrokenGrenade.Web.App.styles.css" rel="stylesheet" /> *@
    <link rel="icon" type="image/png" href="~/favicon.png"/>
    <script src="https://kit.fontawesome.com/e407b5728a.js" crossorigin="anonymous"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

<script src="_framework/blazor.server.js" autostart="false"></script>
<script defer>
    function wait(time) {
        return new Promise(resolve => setTimeout(resolve, time));
    }

    async function init() {
        await Blazor.start();
        await wait(1000);
        
        var script1 = document.createElement('script');
        script1.src = "/vendors/@@coreui/coreui/js/coreui.bundle.min.js";
        script1.defer = true;
        document.body.appendChild(script1);
        
        var script2 = document.createElement('script');
        script2.src = "/vendors/simplebar/js/simplebar.min.js";
        script2.defer = true;
        document.body.appendChild(script2);
        
        var script3 = document.createElement('script');
        script3.src = "/vendors/@@coreui/utils/js/coreui-utils.js";
        script3.defer = true;
        document.body.appendChild(script3);
        
        const tooltipTriggerList = document.querySelectorAll('[data-coreui-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new coreui.Tooltip(tooltipTriggerEl));
    }
    
    init();
</script>


@* <script defer> *@
@*     function wait(time) { *@
@*         return new Promise(resolve => setTimeout(resolve, time)); *@
@*     } *@
@* *@
@*     async function start() { *@
@*         await wait(250); *@
@* *@
@*         const tooltipTriggerList = document.querySelectorAll('[data-coreui-toggle="tooltip"]'); *@
@*         const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new coreui.Tooltip(tooltipTriggerEl)); *@
@*     } *@
@* *@
@*     start(); *@
@*     *@
@* </script> *@
</body>
</html>
