@page "/"
@using BrokenGrenade.Web.BL.Facades
@using BrokenGrenade.Common.Models
@using Duende.IdentityServer.Extensions
@inject UserFacade UserFacade

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <p>Uživatel @context.User.GetDisplayName() přihlášen</p>
    </Authorized>
    <NotAuthorized>
        <p>Nepřihlášen</p>
    </NotAuthorized>
</AuthorizeView>

@if (_users is null)
{
    <p>Načítání...</p>
}
else
{
    <table>
        <tr>
            <th>Přezdívka</th>
            <th>Email</th>
            <th>Počet rolí</th>
        </tr>
        @foreach (var user in _users)
        {
            <tr>
                <td>@user.Nickname</td>
                <td>@user.Email</td>
                <td>@(user.Roles?.Count ?? 0)</td>
            </tr>
        }
    </table>
}

@code
{

    private List<UserModel>? _users;
    
    protected override async Task OnInitializedAsync()
    {
        _users = await UserFacade.GetAsync();
    }
}
