@page "/Staff/Application"
@using BrokenGrenade.Common.Permissions
@attribute [Authorize(Policy = PolicyTypes.ManageApplications)]


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Přihlášky</h1>
</div>
<div class="card bg-dark-subtle mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
</div>

@code {
    
}