<AuthorizeView>
  <NotAuthorized>
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="Identity/Account/Login">
        <i class="fa-solid fa-right-to-bracket fa-fw"></i> Přihlásit se
      </a>
    </div>
  </NotAuthorized>
  <Authorized>
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="Identity/Account/Manage">Můj Účet</a>
    </div>
    <div class="nav-item text-nowrap">
      <form method="post" action="Identity/Account/Logout">
        <button class="nav-link btn btn-link" type="submit">Odhlásit se</button>
      </form>
    </div>
  </Authorized>
</AuthorizeView>
