@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<PageTitle>Broken Grenade Hub</PageTitle>

<NavBar/>
<div class="container-fluid">
    <div class="row">
        <SideBar/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            @Body
        </main>
    </div>
</div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("InitTooltips");
    }
}