@inherits LayoutComponentBase

<PageTitle>Broken Grenade Hub</PageTitle>

<SideBar/>
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <NavBar/>
    <div class="body flex-grow-1 px-3">
        @Body
    </div>
    <footer class="footer">
        <div>© 2023 Broken Grenade</div>
    </footer>
</div>

@code
{

}