<header class="header header-sticky mb-4">
    <div class="container-fluid">
        <button class="d-md-none header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getOrCreateInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
                <use xlink:href="vendors/@@coreui/icons/svg/free.svg#cil-menu"></use>
            </svg>
        </button>
        <LoginDisplay/>
    </div>
    <div class="header-divider"></div>
    <div class="container-fluid">
        <BreadcrumbNavigation/>
    </div>
</header>