<header class="navbar navbar-dark sticky-top bg-dark-subtle flex-md-nowrap p-0">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">
        <img class="img-fluid" width="24px" src="favicon.png" alt="BG Logo"/>
        Broken Grenade Hub
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid d-flex justify-content-end">
        <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-row">
            <LoginDisplay/>
        </ul>
    </div>
</header>