@page "/Staff/Role/Edit/{Id}"
@using BrokenGrenade.Common.Permissions
@attribute [Authorize(Policy = PolicyTypes.ManageRoles)]
<h3>Edit</h3>

@code {
    [Parameter]
    public Guid Id { get; set; }
}