@page "/Staff/Role"
@using BrokenGrenade.Common.Permissions
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Common.Models.Filters
@using BrokenGrenade.Web.BL.Facades
@using Microsoft.AspNetCore.Components
@inject RoleFacade RoleFacade
@attribute [Authorize(Policy = PolicyTypes.ManageRoles)]

<PageTitle>Seznam Rolí — BG Hub</PageTitle>

<div class="pt-3 pb-2 mb-3">
    <h1 class="h2">Seznam Rolí</h1>
</div>
<div class="card bg-dark-subtle mb-4">
    <div class="card-header">
        <h6 class="card-title mb-0">Filtrování</h6>
    </div>
    <div class="card-body">
        <EditForm Model="_filter" id="filterForm" OnSubmit="FilterAsync">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="searchRoleType" class="form-label">Podle názvu</label>
                        <InputText TValue="Guid?" class="form-control" @bind-Value="_filter.RoleName" id="searchRoleType"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row gap-2">
                        <button type="submit" class="btn btn-primary">Filtrovat</button>
                        <button type="reset" class="btn btn-outline-secondary" @onclick="ResetFilterAsync">Vymazat filtry</button>
                    </div>

                </div>
            </div>
        </EditForm>
    </div>
</div>
<div class="card bg-dark-subtle mb-4">
    <div class="card-header">
        <div class="d-flex justify-content-end">
            <a class="btn btn-sm btn-primary" href="/Staff/Role/Create">
                <i class="fa-solid fa-plus"></i> Vytvořit novou roli
            </a>
        </div>
    </div>
    <div class="card-body">
        <ListComponent TItem="RoleModel"
                       @ref="_listComponent"
                       Items="_roles"
                       Class="table-striped">
            <TableHeader>
                <th>Pořadí</th>
                <th>Název</th>
                <th>Počet uživatelů</th>
                <th></th>
            </TableHeader>
            <RowTemplate Context="role">
                <td>@role.Order</td>
                <td>@role.Name</td>
                <td>@role.UserCount</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-sm btn-primary" href="/Staff/Role/Edit/@role.Id">Upravit</a>
                    </div>
                </td>
            </RowTemplate>
        </ListComponent>
    </div>
</div>

@code {
    private List<RoleModel>? _roles;
    private ListComponent<RoleModel> _listComponent = null!;

    private RoleFilterModel _filter = new();

    protected override async Task OnInitializedAsync()
    {
        _roles = await RoleFacade.GetAsync();
    }

    private async Task ResetFilterAsync()
    {
        _filter = new();
        await FilterAsync();
    }

    private async Task FilterAsync()
    {
        _roles = await RoleFacade.GetAsync(_filter);
    }
}