@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Přístup zamítnut";
    Layout = "_Layout";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nemáš oprávnění pro přístup k tomuto prostředku.</p>
</header>
