@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrace";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Propojení s účtem @Model.ProviderDisplayName.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Úspěšně jsi se přihlásil s účetem <strong>@Model.ProviderDisplayName</strong>.
    Pro dokončení registrace prosím zadej níže svoji emailovou adresu a klikni na tlačítko Registrovat se.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Zadej svůj email."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" autocomplete="email" placeholder="Zadej uživatelské jméno."/>
                <label asp-for="Input.Username" class="form-label"></label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Registrovat se</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
