@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Obnovení hesla";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
<p>
    Pro další instrukce zkontroluj svoji emailovou schránku.
</p>
