@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
    Layout = "_Layout";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tento účet byl dočasně blokován (pravděpodobně z důvodu velkého počtu pokusů o přihlášení,
        zkus se přihlásit později.</p>
</header>
