@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrzení obnovení hesla";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tvé heslo bylo úspěšně změněno. <a asp-page="./Login">Pro přihlášení klikni sem</a>.
</p>
