@using BrokenGrenade.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject RoleManager<IdentityRole> RoleManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item m-2">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Ahoj, @User.Identity?.Name!</a>
    </li>
    <li class="nav-item m-2">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
            <button  type="submit" class="nav-link btn btn-link text-dark">Odhlásit se</button>
        </form>
    </li>
}
else
{
    <li class="nav-item m-2">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrace</a>
    </li>
    <li class="nav-item m-2">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Přihlášení</a>
    </li>
}
