@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account
@inject IStringLocalizer<LayoutResource> Localizer

<!DOCTYPE html>
<html lang="cs" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"] - BG Hub</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/fortawesome/fontawesome-free/css/solid.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e407b5728a.js" crossorigin="anonymous"></script>
    
    @* <link rel="stylesheet" href="~/Identity/css/site.css" /> *@
    
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 col-xxl-5">
            <div class="my-5">
                <div class="mb-3">
                    <a class="btn btn-dark bg-dark-subtle" href="/">
                        <i class="fa-solid fa-chevron-left fa-fw"></i> @Localizer[nameof(LayoutResource.BackToMainPage)]
                    </a>
                </div>
                <div class="card overflow-hidden bg-dark-subtle border-0">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Identity/lib/jquery/dist/jquery.js"></script>
<script src="~/Identity/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
