@page
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account
@using BrokenGrenade.Web.App.Resources
@model AccessDeniedModel
@inject IStringLocalizer<AccessDeniedResource> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer[nameof(SharedResources.AccessDenied)];
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <p class="text-danger text-center">@Localizer[nameof(AccessDeniedResource.AccessDeniedMessage)]</p>
    </div>
</div>

