@page
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources
@model ConfirmEmailChangeModel
@inject IStringLocalizer<ConfirmEmailChangeResource> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = Localizer[nameof(ConfirmEmailChangeResource.ConfirmEmailChangeTitle)];
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <a class="btn btn-primary" href="./Login">@SharedLocalizer[nameof(SharedResources.LoginButton)]</a>
    </div>
</div>