@page
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account
@model ForgotPasswordConfirmation
@inject IStringLocalizer<ForgotPasswordConfirmationResource> Localizer
@{
    ViewData["Title"] = Localizer[nameof(ForgotPasswordConfirmationResource.ForgotPasswordConfirmationTitle)];
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <p class="text-center">@Localizer[nameof(ForgotPasswordConfirmationResource.ForgotPasswordConfirmationMessage)]</p>
    </div>
</div>

