@page
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account
@model LockoutModel
@inject IStringLocalizer<LockoutResource> Localizer
@{
    ViewData["Title"] = Localizer[nameof(LockoutResource.LockedOutTitle)];
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <p class="text-center">@Localizer[nameof(LockoutResource.LockedOutMessage)]</p>
    </div>
</div>


