@page
@inject IStringLocalizer<ResetPasswordConfirmationResource> Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@using Microsoft.Extensions.Localization
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account
@using BrokenGrenade.Web.App.Resources
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer[nameof(ResetPasswordConfirmationResource.PasswordResetTitle)];
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12 col-lg-10 col-xl-8 col-xxl-6">
        <h1 class="h2 text-center">@Localizer[nameof(ResetPasswordConfirmationResource.PasswordResetTitle)]</h1>
        <p class="text-center">@Localizer[nameof(ResetPasswordConfirmationResource.PasswordResetConfirmation)]</p>
        <a class="btn btn-primary" asp-page="./Login">@SharedLocalizer[nameof(SharedResources.LoginButton)]</a>
    </div>
</div>