@page
@using BrokenGrenade.Web.App.Resources.Areas.Identity.Pages.Account
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ResetPasswordResource> Localizer
@model ResetPasswordModel
@{
    ViewData["Title"] = Localizer[nameof(ResetPasswordResource.ResetPasswordTitle)];
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 col-xxl-6">
        <h1 class="h2 text-center">@Localizer[nameof(ResetPasswordResource.ResetPasswordTitle)]</h1>
        <form method="post">
            <div class="row">
                <div class="col">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="Input.Code" type="hidden"/>
                    <input asp-for="Input.UserId" type="hidden"/>
                    <div class="row mb-3">
                        <div class="col-12 col-sm-6">
                            <label asp-for="Input.Password" class="form-label">@Html.DisplayNameFor(m => m.Input.Password)</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label asp-for="Input.ConfirmPassword" class="form-label">@Html.DisplayNameFor(m => m.Input.ConfirmPassword)</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">@Localizer[nameof(ResetPasswordResource.ResetPasswordButton)]</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
