@page "/Staff/MissionType/Create"
@using BrokenGrenade.Common.Permissions
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Web.BL.Facades
@inject MissionTypeFacade MissionTypeFacade
@inject NavigationManager NavigationManager
@attribute [Authorize(Policy = PolicyTypes.ManageMissionTypes)]

<PageTitle>Nový druh mise — BG Hub</PageTitle>

<div class="pt-3 pb-2 mb-3">
    <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a class="btn btn-sm btn-link text-decoration-none" href="/Staff/MissionType">
                    <i class="fa-solid fa-angles-left"></i> Zpět na všechny druhy
                </a>
            </div>
        </div>
    <h1 class="h2">Nový druh mise</h1>
</div>
<div class="card bg-dark-subtle mb-4">
    <div class="card-body">
        <EditForm Model="_missionType" OnValidSubmit="CreateMissionTypeAsync">
            <div class="row text-danger">
                <div class="col">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Název</label>
                        <InputText class="form-control" @bind-Value="_missionType.Name"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label">Poznámka (volitelné)</label>
                        <InputTextArea class="form-control" @bind-Value="_missionType.Note"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Vytvořit</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private MissionTypeModel _missionType = new(string.Empty);
    
    private async Task CreateMissionTypeAsync()
    {
        if (_missionType.Note == string.Empty)
            _missionType.Note = null;
        
        await MissionTypeFacade.SaveAsync(_missionType);
        NavigationManager.NavigateTo("/Staff/MissionType");
    }
}