@page "/Training"
@using BrokenGrenade.Common.Models
@using BrokenGrenade.Web.BL.Facades
@inject TrainingFacade TrainingFacade

<PageTitle>Seznam Výcviků — BG Hub</PageTitle>

<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Seznam Výcviků</h1>
</div>

<div class="card bg-dark-subtle mb-4">
    <div class="card-header">
        <h6 class="card-title mb-0">Filtrování</h6>
    </div>
    <div class="card-body">
        <!-- TODO Filtrování !-->
    </div>
</div>

<div class="card bg-dark-subtle mb-4">
    <div class="card-body">
        @if (_trainings is null)
        {
            <p class="text-center fw-bold">Načítání...</p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Název</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Instruktor</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @if (_trainings.Count == 0)
                {
                    <tr>
                        <td colspan="4">
                            <p class="text-center">Nebyly nalezeny žádné výcviky</p>
                        </td>
                    </tr>
                }
                else
                {
                    @foreach (var training in _trainings)
                    {
                        <tr>
                            <td>@training.Name</td>
                            <td>@training.Date</td>
                            <td>@(training.Creator?.Nickname ?? "Odstraněný uživatel")</td>
                            <td>
                                <a class="btn btn-primary" href="/Training/Detail/@training.Id">Detail</a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    private List<TrainingModel>? _trainings;
    
    protected override async Task OnInitializedAsync()
    {
        _trainings = await TrainingFacade.GetAsync();
    }
}